<div class="main-background" ng-controller="MainCtrl">
<div class="entities" ng-class="show ? 'animate' :'no-animate'">

<div class="application" ng-click="navigate('/pro')">
	<div class="entity"><i class="fa fa-bus fa-lg"></i></div>
	<div class="entity-name">IM Pro</div>
</div>

<div class="application" ng-click="navigate('/customer')">
	<div class="entity"><i class="fa fa-user fa-lg"></i></div>
	<div class="entity-name">IM Customer</div>
</div>

<div class="application">
	<div class="entity"><i class="fa fa-truck fa-lg"></i></div>
	<div class="entity-name">IM Driver</div>
</div>


<div class="application">
	<div class="entity"><i class="fa fa-globe fa-lg"></i></div>
	<div class="entity-name">LH Load</div>
</div>

<div class="application">
	<div class="entity"><i class="fa fa-male fa-lg"></i></div>
	<div class="entity-name long-name">LH Customer</div>
</div>

<div class="application">
	<div class="entity"><i class="fa fa-car fa-lg"></i></div>
	<div class="entity-name">LH Driver</div>
</div>



<div class="application">
	<div class="entity"><i class="fa fa-users fa-lg"></i></div>
	<div class="entity-name">User Search</div>
</div>
<!--
<div class="entity"><i class="fa fa-truck fa-lg"></i></div>
<div class="entity"><i class="fa fa-truck fa-lg"></i></div>

<div class="entity"><i class="fa fa-globe fa-lg"></i></i></div>
<div class="entity"><i class="fa fa-globe fa-lg"></i></i></div>
<div class="entity"><i class="fa fa-globe fa-lg"></i></i></div>


<div class="entity"><i class="fa fa-user fa-lg"></i></i></div>
-->
</div>
</div>
