<div class="section full">
	<div class="header">
		<div class="title">Customer Information</div>
	</div>
	<div class="form">
						
		<div class="half-left">
			<label>Customer Name</label>
			<input type="text" ng-model="customer.Customer"/>
		</div>
		<div class="half-right">
			<label>Phone</label>
			<input type="text"/>
		</div>

		<div class="half-left">
			<label>Address 1</label>
			<input type="text"/>
		</div>
		<div class="half-right">
			<label>Fax #</label>
			<input type="text" />
		</div>

		<div class="half-left">
			<label>Address 2</label>
			<input type="text"/>
		</div>
		<div class="half-right">
			<label>Note</label>
			<input type="text"/>
		</div>

		<div class="half-left">
			<label>City</label>
			<input type="text"/>
		</div>
		<div class="quarter-left">
			<label>State</label>
			<input type="text"/>
		</div>
		<div class="quarter-right" >
			<label>Zip</label>
			<input type="text"/>
		</div>

		<div class="full">
			<label>Notes</label>
			<textarea class="textarea" ng-model="customer.notes"/>
		</div>

	</form>
</div>
