<div id="customer-search" ng-controller="CustomerSearchCtrl">

	<div class="section full">
		<div class="header">
			<div class="title icon"><i class="fa fa-search"></i> Customer Search</div>
		</div>
		<form class="form" ng-submit="search()">		
			<div class="half-left">
			<label>Search by</label>
				<ng-select options="options"/>
			</div>
			<div class="half-right" >
				<label>Find</label>
				<input type="text"  ng-model="searchString"/>
			</div>


		</form>
	</div>

	<div class="section full">
		<div class="header">
			<div class="title">Search Results</div>
		</div>
		<div>
		    <div ui-grid="gridOptions" class="customer-search-grid" ui-grid-resize-columns></div>
		    <ng-modal/>
		</div>

	</div>

</div>